{% if settings.social_icon_1_name != blank %}
<li><a target="_blank" title="{{ settings.social_icon_1_name | capitalize }}" href="{{ settings.social_icon_1_link }}"><i class="fab fa-{{ settings.social_icon_1_name }}"></i></a></li>     
{% endif %}
{% if settings.social_icon_2_name != blank %}
<li><a target="_blank" title="{{ settings.social_icon_2_name | capitalize }}" href="{{ settings.social_icon_2_link }}"><i class="fab fa-{{ settings.social_icon_2_name }}"></i></a></li>       
{% endif %}   
{% if settings.social_icon_3_name != blank %}
<li><a target="_blank" title="{{ settings.social_icon_3_name | capitalize }}" href="{{ settings.social_icon_3_link }}"><i class="fab fa-{{ settings.social_icon_3_name }}"></i></a></li>       
{% endif %}
{% if settings.social_icon_4_name != blank %}
<li><a target="_blank" title="{{ settings.social_icon_4_name | capitalize }}" href="{{ settings.social_icon_4_link }}"><i class="fab fa-{{ settings.social_icon_4_name }}"></i></a></li>       
{% endif %}
{% if settings.social_icon_5_name != blank %}
<li><a target="_blank" title="{{ settings.social_icon_5_name | capitalize }}" href="{{ settings.social_icon_5_link }}"><i class="fab fa-{{ settings.social_icon_5_name }}"></i></a></li>       
{% endif %}
{% if settings.social_icon_6_name != blank %}
<li><a target="_blank" title="{{ settings.social_icon_6_name | capitalize }}" href="{{ settings.social_icon_6_link }}"><i class="fab fa-{{ settings.social_icon_6_name }}"></i></a></li>       
{% endif %}
{% if settings.social_icon_7_name != blank %}
<li><a target="_blank" title="{{ settings.social_icon_7_name | capitalize }}" href="{{ settings.social_icon_7_link }}"><i class="fab fa-{{ settings.social_icon_7_name }}"></i></a></li>       
{% endif %}
{% if settings.social_icon_8_name != blank %}
<li><a target="_blank" title="{{ settings.social_icon_8_name | capitalize }}" href="{{ settings.social_icon_8_link }}"><i class="fab fa-{{ settings.social_icon_8_name }}"></i></a></li>       
{% endif %}