<div class="customer-page theme-default-margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
        <div class="login">
          <div class="login-form-container">
            <div class="login-text">
              <h2>{{ 'customer.reset_password.title' | t }}</h2>
              <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
            </div>
            <div class="login-form">
              {% form 'reset_customer_password' %}
              {{ form.errors | default_errors }}
              <label for="ResetPassword" class="hidden-label">{{ 'customer.reset_password.password' | t }}</label>
              <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">

              <label for="PasswordConfirmation" class="hidden-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
              <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

              <div class="form-action-button">
                <button type="submit" class="theme-default-button">{{ 'customer.reset_password.submit' | t }}</button>
              </div>
              {% endform %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
