<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->

<head>
  <!-- Basic and Helper page needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
  
  <link rel="preconnect" href="https://cdn.shopify.com">
  <link rel="preconnect" href="https://ajax.googleapis.com">
  <link rel="dns-prefetch" href="https://cdn.shopify.com">

  {%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  <!-- Title and description -->
  <title>
    {{ page_title -}}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <!-- Helpers -->
  {%- render 'social-meta-tags', product: product, article: article -%}
  
  {%- style -%}
  {%- if settings.typography_enable -%}
  {% assign body_font = settings.body_font_handle %}
  {% assign header_font = settings.header_font_handle %}

  {{ body_font | font_face }}
  {{ header_font | font_face }}
  {%- endif -%}
  
  /* ----------------------------------------------------
  Normalize    071C1F   0E292D
  ---------------------------------------------------- */
  :root {
  {% if settings.global_color_enable %}
  --ltn__primary-color: {{ settings.color_primary }};
  {% else %}
  --ltn__primary-color: #071c1f;
  {% endif %}
  --ltn__primary-color-2: #041113;
  /* Darken */
  --ltn__primary-color-3: #133236;
  /* Lighten */
  {% if settings.global_color_enable %}
  --ltn__secondary-color: {{ settings.color_secondary }};
  {% else %}
  --ltn__secondary-color: #e53e29;
  {% endif %}
  --ltn__secondary-color-2: #cb3421;
  /* Darken */
  --ltn__secondary-color-3: #fb412a;
  /* Lighten */
  --ltn__heading-color: #071c1f;
  --ltn__paragraph-color: #071c1f;
  
  {% if settings.typography_enable %}
  --ltn__heading-font: {{ header_font.family }}, {{ header_font.fallback_families }};
  --ltn__body-font: {{ body_font.family }}, {{ body_font.fallback_families }};
  {% else %}
  --ltn__heading-font: 'Rajdhani', sans-serif;
  --ltn__body-font: 'Open Sans', sans-serif;
  {% endif %}
  
  /* Footer ACD2D8 8CB2B2  */
  --ltn__color-1: #8cb2b2;
  --ltn__color-2: #ACD2D8;
  --ltn__color-3: #A3BCC0;
  --ltn__color-4: #84A2A6;
  /* Gradient Colors */
  --gradient-color-1: linear-gradient(90deg, rgba(242,139,194,1) 0%, rgba(216,177,242,1) 50%);
  --gradient-color-2: linear-gradient(to top, rgba(7,28,31,0) 0%, rgba(7,28,31,1) 90%);
  --gradient-color-3: linear-gradient(to bottom, rgba(7,28,31,0) 0%, rgba(7,28,31,1) 90%);
  --gradient-color-4: linear-gradient(to top, rgba(242,246,247,0) 0%, rgba(242,246,247,1) 90%);
  /* Background Colors */
  --section-bg-1: #F2F6F7;
  /* White */
  --section-bg-2: #071c1f;
  /* Black */
  /* Border Colors */
  --border-color-1: #e5eaee;
  /* White */
  --border-color-2: #1e2021;
  /* Black */
  --border-color-3: #576466;
  /* Black */
  --border-color-4: #eb6954;
  /* Red */
  --border-color-5: #bc3928;
  /* Red */
  --border-color-6: #103034;
  /* Black */
  --border-color-7: #d1dae0;
  /* White */
  --border-color-8: #f6f6f6;
  /* White */
  --border-color-9: #e4ecf2;
  /* White */
  --border-color-10: #ebeeee;
  /* White */
  --border-color-11: #ededed;
  /* White */
  --border-color-12: #e1e6ff;
  /* White */
  /* Box Shadow Colors */
  --ltn__box-shadow-1: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
  --ltn__box-shadow-2: 0 0 4px rgba(0, 0, 0, 0.1);
  /* like border */
  --ltn__box-shadow-3: 0 1px 6px 0 rgba(32, 33, 36, .28);
  /* like border GGL */
  --ltn__box-shadow-4: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
  --ltn__box-shadow-5: 0 8px 16px 0 rgba(93, 93, 93, 0.1);
  --ltn__box-shadow-6: 0 0 25px 2px rgba(93, 93, 93, 0.2);
  /* Common Colors */
  --black: #000000;
  --black-2: #22355B;
  --white: #fff;
  --white-2: #F2F6F7;
  --white-3: #e8edee;
  --white-4: #e6ecf0;
  --white-5: #f0f4f7;
  --white-6: #f1f1f1;
  --white-7: #F7F7F7;
  --white-8: #FAFAFA;
  --white-9: #F2F7FA;
  --red: #FF0000;
  --red-2: #f34f3f;
  --red-3: #DB483B;
  --silver: #C0C0C0;
  --gray: #808080;
  --maroon: #800000;
  --yellow: #FFFF00;
  --olive: #808000;
  --lime: #00FF00;
  --green: #008000;
  --aqua: #00FFFF;
  --teal: #008080;
  --blue: #0000FF;
  --navy: #000080;
  --fuchsia: #FF00FF;
  --purple: #800080;
  --pink: #FFC0CB;
  --nude: #ebc8b2;
  --orange: #ffa500;
  --ratings: #FFB800;
  /* social media colors */
  --facebook: #365493;
  --twitter: #3CF;
  --linkedin: #0077B5;
  --pinterest: #c8232c;
  --dribbble: #ea4c89;
  --behance: #131418;
  --google-plus: #dd4b39;
  --instagram: #e4405f;
  --vk: #3b5998;
  --wechat: #7bb32e;
  --youtube: #CB2027;
  --email: #F89A1E; }
  {%- endstyle -%}
  
  <!-- CSS -->
  {%- render 'header-css' -%}

  <!-- Header hook for plugins -->
  {{ content_for_header }}
  {%- render 'oldIE-js' -%}
  <!-- JS -->
  {%- render 'header-js' with content_for_layout as content_for_layout -%}

  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template.name | handle }}" >

  {%capture pDescription%}
  {%- if settings.enable_preloader -%}
  {%- render 'preloader' -%} 
  {%- endif -%}

  {%- if template == 'index' and settings.newsletter_popup_enable -%}
  {%- render 'newsletter-popup' -%}
  {%- endif -%}

  <div class="wrapper{% if settings.box_layout_enable %} wrapper-box{% endif %}">
    {%- section 'announcement-bar' -%}

    {%- if settings.header_style_handle == 'header_1' -%}
    {% section 'header-1' %}
    {%- elsif settings.header_style_handle == 'header_2' -%}
    {% section 'header-2' %}
    {%- elsif settings.header_style_handle == 'header_3' -%}
    {% section 'header-3' %}
    {%- endif -%}

    {%- if template != 'index' -%}
    {%- section 'breadcrumb' -%}
    {%- endif -%}
    <main>
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}

    {%- if settings.compare_product_enalbe -%}
    {%- render 'compare-popup' -%}
	{%- endif -%}
    <!-- Necessary JS -->
    {%- render 'footer-js' with content_for_layout as content_for_layout -%}
  </div>
  {%endcapture%}
  <script>
    document.open();
    if(window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('Lighthouse') == -1 ) { 
      document.write({{pDescription | json}});
    }
    else {
      document.write("<html><p>.</p></html>");
    }
    document.close();
  </script>
  {%- if settings.body_bg_color != blank and settings.body_bg_color_enable -%}
  <style>
    html, body, .slick-append{
      background: {{ settings.body_bg_color }};
    }
  </style>
  {% endif %}
<!-- PF EDT START -->
<script type='text/javascript'>
{%- if content_for_header contains 'shopify-product-customizer' -%}
    {%- if product -%}
        {%- if product.first_available_variant -%}
            var pfProductId = {{ product.metafields.printful.is_synced | json }};
            var pfEdt = {{ shop.metafields.printful.is_edt_enabled | json }};
            var pfEdtTextColor = {{ shop.metafields.printful.edt_text_color | json }};
            var pfEdtBackgroundColor = {{ shop.metafields.printful.edt_background_color | json }};
            var pfEdtBorderColor = {{ shop.metafields.printful.edt_border_color | json }};  
            var pfEdtUseDefaultStyling = {{ shop.metafields.printful.edt_default_style | json }};
            var pfEdtTextAlignment = {{ shop.metafields.printful.edt_text_alignment | json }};
            var pfEdtFlags = {
                US: "{{ 'US.svg' | asset_url }}",CA: "{{ 'CA.svg' | asset_url }}",ES: "{{ 'ES.svg' | asset_url }}",LV: "{{ 'LV.svg' | asset_url }}",GB: "{{ 'GB.svg' | asset_url }}",DE: "{{ 'DE.svg' | asset_url }}",FR: "{{ 'FR.svg' | asset_url }}",AU: "{{ 'AU.svg' | asset_url }}",JP: "{{ 'JP.svg' | asset_url }}",NZ: "{{ 'NZ.svg' | asset_url }}",IT: "{{ 'IT.svg' | asset_url }}",BR: "{{ 'BR.svg' | asset_url }}",KR: "{{ 'KR.svg' | asset_url }}",NL: "{{ 'NL.svg' | asset_url }}",GB: "{{ 'GB.svg' | asset_url }}",US: "{{ 'US.svg' | asset_url }}",
            };
        {%- else -%}
            var pfEdt = 0;
        {%- endif -%}
    {%- endif -%}
{%- endif -%}
</script>
<!-- PF EDT END -->
</body>
</html>
