{%- if section.settings.section_color_enable -%}
<style>
  #section-{{ section.id }} .ltn__section-title-2 .section-subtitle.ltn__secondary-color {
    color: {{ section.settings.sub_title_color }}!important;
  }
  #section-{{ section.id }} .ltn__section-title-2 .section-title {
    color: {{ section.settings.title_color }};
  }
  #section-{{ section.id }} .theme-btn-1 {
    background-color: {{ section.settings.button_bg_color }};
    color: {{ section.settings.button_text_color }};
  }
  #section-{{ section.id }} .btn-effect-1:hover {
    color: {{ section.settings.button_text_hover_color }};
  }
  #section-{{ section.id }} .theme-btn-1:hover {
    background-color: {{ section.settings.button_bg_hover_color }};
  }
  #section-{{ section.id }} .btn-effect-1:after{
    background-color: {{ section.settings.button_bg_hover_active_color }};
  }
  #section-{{ section.id }} .btn-transparent {
    background-color: {{ section.settings.button_2_bg_color }};
    color: {{ section.settings.button_2_text_color }};
    border-color: {{ section.settings.button_2_border_color }};
  }
  #section-{{ section.id }} .btn-effect-4:hover {
    color: {{ section.settings.button_2_text_hover_color }};
  }
  #section-{{ section.id }} .btn-transparent:hover{
  	background-color: {{ section.settings.button_2_bg_hover_color }};
  }
  #section-{{ section.id }} .btn-effect-4:after {
    background-color: {{ section.settings.button_2_bg_hover_active_color }};
  }
</style>
{%- endif -%}

{%- render 'section-style' -%}

<!-- CALL TO ACTION START (call-to-action-4) -->
<div class="ltn__call-to-action-area ltn__call-to-action-4" id="section-{{ section.id }}" data-section="callToAction2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="call-to-action-inner call-to-action-inner-4 text-center">
          <div class="section-title-area ltn__section-title-2">
            {%- if section.settings.sub_title != '' -%}
            <h6 class="section-subtitle ltn__secondary-color">{{ section.settings.sub_title }}</h6>
            {%- endif -%}
            {%- if section.settings.title != '' -%}
            <h1 class="section-title white-color">{{ section.settings.title }}</h1>
            {%- endif -%}
          </div>
          <div class="btn-wrapper">
            {%- if section.settings.action_title != '' -%}
            <a href="{{ section.settings.url }}" class="theme-btn-1 btn btn-effect-1">{{ section.settings.action_title }}</a>
            {%- endif -%}
            {%- if section.settings.action_2_title != '' -%}
            <a href="{{ section.settings.url_2 }}" class="btn btn-transparent btn-effect-4 white-color">{{ section.settings.action_2_title }}</a>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- if section.settings.image -%}
  <div class="ltn__call-to-4-img-1">
    {%- assign image = section.settings.image -%}
    <span class="image-position-wrapper" style="padding-bottom: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;">
      <img srcset="{% if image.width >= 270 %}{{ image | img_url: '270x' }} 270w,{% endif %}
                   {% if image.width >= 300 %}{{ image | img_url: '300x' }} 300w,{% endif %}
                   {% if image.width >= 370 %}{{ image | img_url: '370x' }} 370w,{% endif %}
                   {% if image.width >= 470 %}{{ image | img_url: '470x' }} 470w,{% endif %}
                   {% if image.width >= 570 %}{{ image | img_url: '570x' }} 570w,{% endif %}
                   {% if image.width >= 670 %}{{ image | img_url: '670x' }} 670w,{% endif %}
                   {% if image.width >= 770 %}{{ image | img_url: '770x' }} 1100w,{% endif %}
                   {% if image.width >= 900 %}{{ image | img_url: '900x' }} 900w,{% endif %}
                   {% if image.width >= 970 %}{{ image | img_url: '970x' }} 970w,{% endif %}
                   {% if image.width >= 1100 %}{{ image | img_url: '1100x' }} 1100w,{% endif %}
                   {% if image.width >= 1200 %}{{ image | img_url: '1200x' }} 1200w{% endif %}"
           loading="lazy"
           src="{{ image | img_url: '1200x' }}"
           sizes="100vw"
           width="{{ image.width }}"
           height="{{ image.height }}"
           alt="{{ image.alt | escape }}"
           class="image-position-size"
           >
    </span>
  </div>
  {%- endif -%}
  {%- if section.settings.image_2 -%}
  <div class="ltn__call-to-4-img-2">
    {%- assign image = section.settings.image_2 -%}
    <span class="image-position-wrapper" style="padding-bottom: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;">
      <img srcset="{% if image.width >= 270 %}{{ image | img_url: '270x' }} 270w,{% endif %}
                   {% if image.width >= 300 %}{{ image | img_url: '300x' }} 300w,{% endif %}
                   {% if image.width >= 370 %}{{ image | img_url: '370x' }} 370w,{% endif %}
                   {% if image.width >= 470 %}{{ image | img_url: '470x' }} 470w,{% endif %}
                   {% if image.width >= 570 %}{{ image | img_url: '570x' }} 570w,{% endif %}
                   {% if image.width >= 670 %}{{ image | img_url: '670x' }} 670w,{% endif %}
                   {% if image.width >= 770 %}{{ image | img_url: '770x' }} 1100w,{% endif %}
                   {% if image.width >= 900 %}{{ image | img_url: '900x' }} 900w,{% endif %}
                   {% if image.width >= 970 %}{{ image | img_url: '970x' }} 970w,{% endif %}
                   {% if image.width >= 1100 %}{{ image | img_url: '1100x' }} 1100w,{% endif %}
                   {% if image.width >= 1200 %}{{ image | img_url: '1200x' }} 1200w{% endif %}"
           loading="lazy"
           src="{{ image | img_url: '1200x' }}"
           sizes="100vw"
           width="{{ image.width }}"
           height="{{ image.height }}"
           alt="{{ image.alt | escape }}"
           class="image-position-size"
           >
    </span>
  </div>
  {%- endif -%}
</div>
<!-- CALL TO ACTION END -->

{% schema %}
  {
    "name": "Call to Action (2)",
    "settings": [
		{
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title",
		  "default": "// Sub Title //"
        },
		{
          "type": "textarea",
          "id": "title",
          "label": "Title",
		  "default": "897-876-987-90"
        },
		{
          "type": "text",
          "id": "action_title",
          "label": "Button One Title",
		  "default": "MAKE A CALL"
        },
		{
          "type": "url",
          "id": "url",
          "label": "Button One URL"
        },
		{
          "type": "text",
          "id": "action_2_title",
          "label": "Button Two Title",
		  "default": "CONTACT US"
        },
		{
          "type": "url",
          "id": "url_2",
          "label": "Button Two URL"
        },
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image One",
          "info": "Recommended Size: 631 x 500px"
        },
		{
          "type": "image_picker",
          "id": "image_2",
          "label": "Image Two",
          "info": "Recommended Size: 514 x 597px"
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "checkbox",
          "id": "section_color_enable",
          "label": "Color Enable",
          "default": false,
          "info": "Enable the field for color customization"
        },
        {
          "type": "header",
          "content": "Section Title"
        },
        {
          "type": "color",
          "id": "sub_title_color",
          "label": "Sub Title Color",
          "default": "#e53e29"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title Color",
          "default": "#071c1f"
        },
        {
          "type": "header",
          "content": "Button One"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button text Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "button_bg_color",
          "label": "Button BG Color",
          "default": "#e53e29"
        },
        {
          "type": "color",
          "id": "button_text_hover_color",
          "label": "Button text Hover Color",
          "default": "#071c1f"
        },
        {
          "type": "color",
          "id": "button_bg_hover_color",
          "label": "Button BG Hover Color",
          "default": "#071c1f"
        },
        {
          "type": "color",
          "id": "button_bg_hover_active_color",
          "label": "Button BG Hover Active Color",
          "default": "#fff"
        },
        {
          "type": "header",
          "content": "Button Two"
        },
		{
          "type": "color",
          "id": "button_2_text_color",
          "label": "Button text Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "button_2_bg_color",
          "label": "Button BG Color"
        },
        {
          "type": "color",
          "id": "button_2_border_color",
          "label": "Button Border Color",
          "default": "#ddd"
        },
        {
          "type": "color",
          "id": "button_2_text_hover_color",
          "label": "Button text Hover Color",
          "default": "#071c1f"
        },
        {
          "type": "color",
          "id": "button_2_bg_hover_color",
          "label": "Button BG Hover Color",
          "default": "#e53e29"
        },
        {
          "type": "color",
          "id": "button_2_bg_hover_active_color",
          "label": "Button BG Hover Active Color",
          "default": "#fff"
        }
	],
	"blocks":[
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 115
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 120
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 75
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 60
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 55
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 115
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#071c1f"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Call to Action (2)",
		  "category": "6. action",
		  "blocks":[
				{
					"type": "section_padding"
				},
				{
					"type": "section_margin"
				},
				{
					"type": "section_background"
				}
			]
		}
	]
  }
{% endschema %}