{%- render 'section-style' -%}

<div class="ltn__category-area section-bg-1" id="section-{{ section.id }}" data-section="categoryList2">
  <div class="container">
    {%- if section.settings.section_title != '' or section.settings.section_sub_title != '' -%}
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-area ltn__section-title-2--- text-center---">
          {%- if section.settings.section_sub_title != '' -%}
          <h6 class="section-subtitle ltn__secondary-color">{{ section.settings.section_sub_title }}</h6>
          {%- endif -%}
          {%- if section.settings.section_title != '' -%}
          <h1 class="section-title">{{ section.settings.section_title }}</h1>
          {%- endif -%}
        </div>
      </div>
    </div>
    {%- endif -%}
    
    {%- capture data_slick_activation -%}
          data-slick='{
              {%- if section.settings.autoplay_true -%}
              "autoplay": true,
              "autoplaySpeed": {{ section.settings.autoplay_speed }},
              {%- endif -%}
               "slidesToShow": {{ section.settings.product_column }},
                "responsive":[
                    {"breakpoint":992, "settings": {"slidesToShow": {{ section.settings.product_column_md }}, "arrows": false, "dots": true} },
                    {"breakpoint":768, "settings": {"slidesToShow": {{ section.settings.product_column_sm }}, "arrows": false, "dots": true} },
                    {"breakpoint":480, "settings": {"slidesToShow": {{ section.settings.product_column_sm }}, "slidesToScroll": {{ section.settings.product_column_sm }}, "arrows": false, "dots": true} }
                  ] 

          }'
          {%- endcapture -%}
    <div class="row ltn__category-slider-active slick-arrow-1" {{ data_slick_activation }} >
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'category' -%}
      {% assign category = collections[block.settings.category_handle] %}
      
      {% capture i %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
      {%- if category == empty -%}
      <div class="col-12">
        <div class="ltn__category-item text-center">
          <div class="ltn__category-item-img">
            {{ 'collection-' | append: i | placeholder_svg_tag: 'collection-svg-image' }}
          </div>
          <div class="ltn__category-item-name">
            <h5><a href="#">Collection Title</a></h5>
          </div>
        </div>
      </div>
      {%- else -%} 
      <div class="col-12">
        <div class="ltn__category-item text-center">
          <div class="ltn__category-item-img">
            {%- assign image = category.featured_image -%}
            <a href="{{ category.url }}" class="image-position-wrapper" style="padding-bottom: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;">
              <img srcset="{% if image.width >= 90 %}{{ image | img_url: '90x' }} 90w,{% endif %}
                           {% if image.width >= 118 %}{{ image | img_url: '118x' }} 118w,{% endif %}
                           {% if image.width >= 150 %}{{ image | img_url: '152x' }} 152w,{% endif %}
                           {% if image.width >= 243 %}{{ image | img_url: '266x' }} 266w,{% endif %}
                           {% if image.width >= 366 %}{{ image | img_url: '366x' }} 366w,{% endif %}
                           {% if image.width >= 576 %}{{ image | img_url: '576x' }} 576w,{% endif %}
                           {% if image.width >= 600 %}{{ image | img_url: '600x' }} 600w,{% endif %}"
                   src="{{ image | img_url: '118x' }}"
                   sizes="100vw"
                   width="{{ image.width }}"
                   height="{{ image.height }}"
                   alt="{{ image.alt | escape }}"
                   loading="lazy"
                   class="image-position-size"
                   >
            </a>
          </div>
          <div class="ltn__category-item-name">
            <h5><a href="{{ category.url }}">{{ category.title }}</a></h5>
          </div>
        </div>
      </div>
      {%- endif -%}
      {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Category List (2)",
    "settings": [
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
          "type": "text",
          "id": "section_sub_title",
          "label": "Section Sub Title",
          "default": "// Sub Title"
      	},
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Section Title"
      	},
		{
			"type": "header",
            "content": "Category Column"
        },
		{
            "type": "range",
            "id": "product_column",
            "min": 1,
            "max": 12,
            "step": 1,
            "label": "Desktop",
            "default": 4
        },
		{
            "type": "range",
            "id": "product_column_md",
            "min": 1,
            "max": 12,
            "step": 1,
            "label": "Tablet",
            "default": 3
        },
		{
            "type": "range",
            "id": "product_column_sm",
            "min": 1,
            "max": 12,
            "step": 1,
            "label": "Mobile",
            "default": 2
        },
		{
			"type": "header",
            "content": "Options"
        },
		{
          "type": "checkbox",
          "id": "autoplay_true",
          "label": "Autoplay Enable",
          "default": false
      	},
		{
            "type": "range",
            "id": "autoplay_speed",
            "min": 1000,
            "max": 9000,
            "step": 1000,
            "label": "Autoplay Speed",
            "unit": "ms",
            "default": 7000
        }
    ],
	"blocks":[
          {
            "type": "category",
            "name": "Category",
            "settings": [
              {
                  "type": "collection",
                  "id": "category_handle",
                  "label": "Select Collection"
              }
            ]
         },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 115
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 90
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 105
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 75
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#f2f6f7"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Category List (2)",
		  "category": "3. collections",
		  "blocks":[
				{
					"type": "category"
				},
				{
					"type": "category"
				},
				{
					"type": "category"
				},
				{
					"type": "category"
				},
				{
					"type": "category"
				},
				{
					"type": "category"
				},
				{
					"type": "section_padding"
				}
			]
		}
	]
  }
{% endschema %}
