{%- render 'section-style' -%}

<div class="ltn__faq-area" id="section-{{ section.id }}">
  <div class="container">
    {%- if section.settings.section_title != '' or section.settings.section_sub_title != '' -%}
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-area ltn__section-title-2 text-center">
          {%- if section.settings.section_sub_title != '' -%}
          <h6 class="section-subtitle ltn__secondary-color">{{ section.settings.section_sub_title }}</h6>
          {%- endif -%}
          {%- if section.settings.section_title != '' -%}
          <h1 class="section-title">{{ section.settings.section_title }}</h1>
          {%- endif -%}
        </div>
      </div>
    </div>
    {%- endif -%}
    <div class="row">
      <div class="col-lg-12">
        <div class="ltn__faq-inner ltn__faq-inner-2">
          <div id="accordion_2">
            <!-- card -->  
            {%- assign i = 1 -%}
            {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when 'faq' -%}
            <div class="card">
              <h6 class="{% unless forloop.first %}collapsed{% endunless %} ltn__card-title" data-toggle="collapse" data-target="#collapse-{{ i }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse-{{ i }}">
                {{ block.settings.accordion_title }}
              </h6>
              <div id="collapse-{{ i }}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading-{{ i }}" data-parent="#accordion_2">
                <div class="card-body">
                  {{ block.settings.accordion_content }}
                </div>
              </div>
            </div>
            {%- assign i = i | plus: 1 -%}
            {%- endcase -%}
            {%- endfor -%}
          </div>
          {%- if section.settings.contact_info_enable -%}
          <div class="need-support text-center mt-100">
            {%- if section.settings.title != '' -%}
            <h2>{{ section.settings.title }}</h2>
            {%- endif -%}
            {%- if section.settings.button_title != '' -%}
            <div class="btn-wrapper mb-30">
              <a href="{{ section.settings.button_url }}" class="theme-btn-1 btn">{{ section.settings.button_title }}</a>
            </div>
            {%- endif -%}
            {%- if section.settings.phone_number != '' -%}
            <h3 class="animated fadeIn"><i class="fas fa-phone"></i> {{ section.settings.phone_number }}</h3>
            {%- endif -%}
          </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "FAQ",
    "settings": [
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
          "type": "text",
          "id": "section_sub_title",
          "label": "Section Sub Title",
          "default": "// Sub Title"
      	},
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Section Title",
		  "info": "Use <span> Tag for Highlight text"
      	},
		{
		  "type": "header",
          "content": "Contact Info"
        },
		{
          "type": "checkbox",
          "id": "contact_info_enable",
          "label": "Show Contact Info",
          "default": true
      	},
		{
          "type": "textarea",
          "id": "title",
          "label": "Title",
          "default": "Still need help? Reach out to support 24/7:"
      	},
		{
          "type": "text",
          "id": "button_title",
          "label": "Button Title",
          "default": "Contact Us"
      	},
		{
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
      	},
		{
          "type": "text",
          "id": "phone_number",
          "label": "Phone Number",
          "default": "+0123-456-789"
      	}
	],
	"blocks":[
		{
			"type":"faq",
			"name": "Faq",
			"settings": [
				{
                  "type": "text",
                  "id": "accordion_title",
                  "label": "Title",
				  "default": "Title"
                },
				{
                  "type": "richtext",
                  "id": "accordion_content",
                  "label": "Content",
				  "default": "<p>Content</p>"
                }
			]	
		},
		{
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "FAQ",
		  "category": "others",
		  "blocks":[
				{
					"type": "faq"
				},
				{
					"type": "faq"
				},
				{
					"type": "faq"
				},
				{
					"type": "faq"
				},
				{
					"type": "faq"
				},
				{
					"type": "section_padding"
				}
			]
		}
	]
  }
{% endschema %}
