<style>
  {%- for block in section.blocks -%}
  {%- case block.type -%}
  {%- when 'header_color' -%}
  {%- if block.settings.header_middle_color_enable -%}
  .ltn__header-4 .ltn__header-middle-area, .ltn__header-5 .ltn__header-middle-area, .ltn__header-3 .ltn__header-middle-area{
    background: {{ block.settings.header_bg_color }};
  }
  .ltn__header-options .ltn__drop-menu>ul>li>a, .ltn__header-options, .mini-cart-icon, .mini-cart-icon-2 > a .mini-cart-icon i, 
  .header-feature-item p, .header-feature-item p a, .header-feature-item h6, .mini-cart-icon-2 > a .mini-cart-icon sup{
    color: {{ block.settings.header_color }};
  }
  .header-feature-icon {
    color: {{ block.settings.support_icon_color }};
  }
  .mini-cart-icon.mini-cart-icon-2 .ltn__secondary-color {
    color: {{ block.settings.mini_cart_price_color }}!important;
      }
  .mini-cart-icon-2 > a .mini-cart-icon sup{
  	background-color: {{ block.settings.mini_cart_price_color }};
  }
  .sticky-active.ltn__sticky-bg-white{
    background: {{ block.settings.header_sticky_bg_color }};
  }
  .sticky-active.ltn__sticky-bg-white .header-feature-icon, .sticky-active.ltn__sticky-bg-white .header-feature-item h6, .sticky-active.ltn__sticky-bg-white .header-feature-item p, .sticky-active.ltn__sticky-bg-white .header-search-1 .search-icon, .sticky-active.ltn__sticky-bg-white .header-wishlist a, .sticky-active.ltn__sticky-bg-white .ltn__main-menu>ul>li>a, .sticky-active.ltn__sticky-bg-white .mini-cart-icon,
  .sticky-active.ltn__sticky-bg-white .get-support .get-support-info h6, .sticky-active.ltn__sticky-bg-white .get-support .get-support-info h4 p{
  	color: {{ block.settings.header_sticky_color }};
  }
  {%- endif -%}
  {%- if block.settings.menu_color_enable -%}
  .header-bottom-area {
    background-color: {{ block.settings.menu_bg_color }};
  }
  .ltn__main-menu>ul>li>a{
    color: {{ block.settings.menu_color }};
  }
  {%- endif -%}
  {%- endcase -%}
  {%- endfor -%}
</style>

<header id="section-{{ section.id }}" data-section="headerSection" class="ltn__header-area ltn__header-3 section-bg-6">

  {%- for block in section.blocks -%}
  {%- case block.type -%}
  {%- when 'header_top' -%}
  {%- unless template != 'index' and block.settings.disable_header_top -%}
  {%- render 'header-top', block: block -%}
  {%- endunless -%}
  {%- endcase -%}
  {%- endfor -%}
  
  <!-- ltn__header-middle-area start -->
  <div class="ltn__header-middle-area">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="site-logo">
            {%- render 'header-logo' -%}
          </div>
        </div>
        <div class="col header-contact-serarch-column d-none d-lg-block">
          <div class="header-contact-search">
            <!-- header-feature-item -->
            {%- if section.settings.support_title != '' or section.settings.support_number != '' -%}
            <div class="header-feature-item">
              <div class="header-feature-icon">
                <i class="icon-call"></i>
              </div>
              <div class="header-feature-info">
                {%- if section.settings.support_title != '' -%}
                <h6>{{ section.settings.support_title }}</h6>
                {%- endif -%}
                {%- if section.settings.support_number != '' -%}
                <p>{{ section.settings.support_number }}</p>
                {%- endif -%}
              </div>
            </div>
            {%- endif -%}
            <!-- header-search-2 -->
            <div class="header-search-2">
              <predictive-search search-open="false">
                <form action="{{ routes.search_url }}" method="get" role="search" class="">
                  <input
                         id="Search"
                         type="search"
                         name="q"
                         value="{{ search.terms | escape }}"
                         {%- if settings.predictive_search_enabled -%}
                         role="combobox"
                         aria-expanded="false"
                         aria-owns="predictive-search-results-list"
                         aria-controls="predictive-search-results-list"
                         aria-haspopup="listbox"
                         aria-autocomplete="list"
                         autocorrect="off"
                         autocomplete="off"
                         autocapitalize="off"
                         spellcheck="false"
                         {%- endif -%}
                         class="predictive-search-input"
                         placeholder="{{ 'general.search.placeholder' | t }}"
                         >
                  <button type="submit">
                    <span><i class="icon-search"></i></span>
                  </button>
                  <input name="options[prefix]" type="hidden" value="last">
              
                  {%- if settings.predictive_search_enabled -%}
                  <div id="predictive-search" class="predictive-search-item" tabindex="-1"></div>
                  {%- endif -%}
                </form>
              </predictive-search>
              
            </div>
          </div>
        </div>
        <div class="col">
          <!-- header-options -->
          <div class="ltn__header-options">
            <ul>
              <li class="d-lg-none">
                <!-- header-search-1 -->
                {%- if section.settings.header_search_enable -%}
                <!-- header-search-1 -->
                <div class="header-search-wrap">
                  <div class="header-search-1">
                    <div class="search-icon">
                      <i class="icon-search for-search-show"></i>
                      <i class="icon-cancel  for-search-close"></i>
                    </div>
                  </div>
                  <div class="header-search-1-form">
                    {%- render 'search-bar' -%}
                  </div>
                </div>
                {%- endif -%}
              </li>
              <li class="d-none---"> 
                <!-- user-menu -->
                {%- if section.settings.user_menu_enable -%}
                <div class="ltn__drop-menu user-menu">
                  <ul>
                    <li>
                      <a href="#"><i class="icon-user"></i></a>
                      <ul>
                        {%- assign user_menu = section.settings.user_menu_handle -%}
                        {%- for link in linklists[user_menu].links -%}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {%- endfor -%}
                        {%- if shop.customer_accounts_enabled and customer and section.settings.logout_title != '' -%}
                        <li>
                          <a href="{{ routes.account_logout_url }}">{{ section.settings.logout_title }}</a>
                        </li>
                        {%- elsif shop.customer_accounts_enabled and section.settings.login_title != '' -%}
                        <li>
                          <a href="{{ routes.account_login_url }}">{{ section.settings.login_title }}</a>
                        </li>
                        {%- endif -%}
                      </ul>
                    </li>
                  </ul>
                </div>
                {%- endif -%}
              </li>
              <li>
                <!-- mini-cart 2 -->
                <div class="mini-cart-icon mini-cart-icon-2">
                  <a href="#ltn__utilize-cart-menu" class="ltn__utilize-toggle">
                    <span class="mini-cart-icon">
                      <i class="icon-shopping-cart"></i>
                      <sup><span class="bigcounter">{{ cart.item_count }}</span></sup>
                    </span>
                    <h6><span>Your Cart</span> <span class="ltn__secondary-color"><span class="shopping-cart__total">{{ cart.total_price | money }}</span></span></h6>
                  </a>
                </div>
              </li>
              {% comment %}
              <li class="d-none">      
                <!-- Mobile Menu Button -->
                <div class="mobile-menu-toggle d-lg-none d-none">
                  <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                    <svg viewBox="0 0 800 600">
                      <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                      <path d="M300,320 L540,320" id="middle"></path>
                      <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                    </svg>
                  </a>
                </div>
              </li>
              {% endcomment %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ltn__header-middle-area end -->
  <!-- header-bottom-area start -->
  <div class="header-bottom-area ltn__border-top {% if section.settings.sticky_header_enable %}ltn__header-sticky{% endif %} ltn__sticky-bg-white ltn__primary-bg--- section-bg-1 menu-color-white--- d-none d-lg-block">
    <div class="container">
      <div class="row">
        <div class="col header-menu-column justify-content-center">
          <div class="sticky-logo">
            <div class="site-logo">
              {%- render 'header-logo' -%}
            </div>
          </div>
          <div class="header-menu header-menu-2">
            {%- render 'main-menu' -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header-bottom-area end -->
</header>

{%- render 'mini-cart' -%}
{%- render 'mobile-header' -%}
<div class="ltn__utilize-overlay"></div>

<!-- Start New added ( January 12,2022) -->
<div class="mobile-header-menu-fullwidth">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Mobile Menu Button -->
        <div class="mobile-menu-toggle d-lg-none">
          <span>MENU</span>
          <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
            <svg viewBox="0 0 800 600">
              <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
              <path d="M300,320 L540,320" id="middle"></path>
              <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End New added ( January 12,2022) -->


{% schema %}
  {
    "name": "Header",
    "settings": [
		{
          "type": "paragraph",
          "content": "There are three header styles. It's the Header-3."
        },
		{
          "type": "paragraph",
          "content": "If you want to change then go to Theme Settings > Header Settings"
        },
		{
          "type": "header",
          "content": "Header"
        },
		{
          "type": "checkbox",
          "id": "sticky_header_enable",
          "label": "Header Sticky Enable",
		  "default": true
        },
		{
          "type": "header",
          "content": "Logo"
        },
		{
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "checkbox",
          "id": "custom_logo_width_enable",
          "label": "Enable custom logo width",
          "default": true
        },
		{
          "type": "range",
          "id": "logo_width",
          "label": "Custom logo width",
          "min": 50,
          "max": 300,
          "step": 5,
          "unit": "px",
          "default": 150
        },
		{
          "type": "header",
          "content": "Support Info"
        },
		{
          "type": "text",
          "id": "support_title",
          "label": "Support Title",
		  "default": "Get Support"
        },
		{
          "type": "richtext",
          "id": "support_number",
          "label": "Support Action",
		  "default": "<p>123-456-789-10</p>"
        },
		{
          "type": "header",
          "content": "Main Menu"
        },
        {
          "type": "checkbox",
          "id": "extra_menu_item_enable",
          "label": "Show extra menu item",
          "default": false
        },
		{
          "type": "text",
          "id": "extra_menu_item_title",
          "label": "Extra Menu Item Title",
		  "default": "GET APPOINTMENT"
        },
		{
          "type": "url",
          "id": "extra_menu_item_url",
          "label": "Extra Menu Item URL"
        },
        {
          "type": "checkbox",
          "id": "target_blank_enable",
          "label": "Open this link in a new window"
        },
		{
          "type": "header",
          "content": "Action Icon"
        },
		{
          "type": "checkbox",
          "id": "header_option_enable",
          "label": "Action Icon Enable",
		  "default": true
        },
		{
          "type": "checkbox",
          "id": "header_search_enable",
          "label": "Header Search Enable",
		  "default": true
        },
		{
          "type": "header",
          "content": "User Menu"
        },
		{
          "type": "checkbox",
          "id": "user_menu_enable",
          "label": "Show User Menu",
		  "default": true
        },
		{
          "type": "link_list",
          "id": "user_menu_handle",
          "label": "User Menu"
        },
		{
          "type": "text",
          "id": "login_title",
          "label": "Login Title",
		  "default": "Login"
        },
		{
          "type": "text",
          "id": "logout_title",
          "label": "Logout Title",
		  "default": "Logout"
        },
		{
          "type": "header",
          "content": "Mini Cart"
        },
		{
          "type": "text",
          "id": "cart_title",
          "label": "Cart Title",
		  "default": "Cart"
        },
		{
          "type": "text",
          "id": "total_title",
          "label": "Total Title",
		  "default": "Subtotal:"
        },
		{
          "type": "text",
          "id": "view_cart_title",
          "label": "View Cart Title",
		  "default": "View Cart"
        },
		{
          "type": "text",
          "id": "checkout_title",
          "label": "Checkout Title",
		  "default": "Checkout"
        },
		{
          "type": "richtext",
          "id": "cart_inforation",
          "label": "Cart Information",
		  "default": "<p>Free Shipping on All Orders Over $100!</p>"
        },
		{
          "type": "header",
          "content": "Mobile Header"
        },
		{
          "type": "image_picker",
          "id": "logo_3",
          "label": "Logo",
          "info": "If you want to display a different logo on Mobile only."
        },
		{
          "type": "checkbox",
          "id": "mobile_search_field_enable",
          "label": "Search Bar Enable",
		  "default": true
        },
		{
          "type": "text",
          "id": "user_menu_title",
          "label": "User Menu Title",
		  "default": "My Account"
        },
		{
          "type": "text",
          "id": "wishlit_title",
          "label": "Wishlist Title",
		  "default": "Wishlist"
        },
		{
          "type": "page",
          "id": "wishlist_page_handle",
          "label": "Wishlist Page"
        },
		{
          "type": "text",
          "id": "shopping_cart_title",
          "label": "Shopping Cart Title",
		  "default": "Shopping Cart"
        },
		{
          "type": "checkbox",
          "id": "mobile_social_midea_enable",
          "label": "Social Midea Enable",
		  "default": true
        }
	],
	"blocks":[
		{
          "type": "header_top",
          "name": "Header Top",
		  "limit": 1,
          "settings": [
            {
              "type": "checkbox",
              "id": "disable_header_top",
              "label": "Hide Header (Without Index Page)",
              "default": false
            },
            {
              "type": "header",
              "content": "Email"
            },
			{
			  "type": "text",
			  "id": "email",
			  "label": "Email Address",
			  "default": "info@webmail.com"
			},
			{
			  "type": "url",
			  "id": "email_url",
			  "label": "Email URL",
			  "info": "mailto:info@webmail.com"
			},
            {
              "type": "header",
              "content": "Address"
            },
			{
			  "type": "text",
			  "id": "address",
			  "label": "Address",
			  "default": "15/A, Nest Tower, NYC"
			},
			{
			  "type": "url",
			  "id": "address_url",
			  "label": "Address URL"
			},
            {
              "type": "header",
              "content": "Language"
            },
            {
              "type": "checkbox",
              "id": "gtranslate_enable",
              "label": "Language Enable",
              "default": true
            },
            {
              "type": "select",
              "id": "language_handle",
              "label": "Select Language",
              "options": [
                {
                  "label": "Shopify Default Language",
                  "value": "shopify_language"
                },
                {
                  "label": "Gtranslate",
                  "value": "gtranslate"
                }
              ],
              "default": "shopify_language",
              "info": "To add a language, go to your [language settings.](\/admin\/settings\/languages)"
            },
            {
              "type": "header",
              "content": "Social Media"
            },
			{
			  "type": "checkbox",
			  "id": "social_media_enable",
			  "label": "Show Social Media",
			  "default": true
			},
            {
              "type": "header",
              "content": "Color"
            },
            {
              "type": "checkbox",
              "id": "header_top_color_enable",
              "label": "Color Enable",
              "default": true,
          	  "info": "Enable the field for color customization"
            },
			{
			  "type": "color",
			  "id": "bg_color",
			  "label": "BG Color",
			  "default": "#fff"
			},
			{
			  "type": "color",
			  "id": "content_color",
			  "label": "Color",
			  "default": "#071c1f"
			},
			{
			  "type": "color",
			  "id": "border_color",
			  "label": "Border Bottom Color",
			  "default": "#e5eaee"
			},
            {
              "type": "header",
              "content": "Color (Without Index Page)"
            },
            {
              "type": "checkbox",
              "id": "other_pages_header_top_color_enable",
              "label": "Color Enable",
              "default": true,
          	  "info": "Enable the field for color customization"
            },
			{
			  "type": "color",
			  "id": "other_pages_bg_color",
			  "label": "BG Color",
			  "default": "#fff"
			},
			{
			  "type": "color",
			  "id": "other_pages_content_color",
			  "label": "Color",
			  "default": "#071c1f"
			},
			{
			  "type": "color",
			  "id": "other_pages_border_color",
			  "label": "Border Bottom Color",
			  "default": "#e5eaee"
			}
          ]
       },
	   {
          "type": "header_color",
          "name": "Header Color",
		  "limit": 1,
          "settings": [
            {
              "type": "header",
              "content": "Middle Color"
            },
            {
              "type": "checkbox",
              "id": "header_middle_color_enable",
              "label": "Color Enable",
              "default": true,
          	  "info": "Enable the field for color customization"
            },
			{
			  "type": "color",
			  "id": "header_bg_color",
			  "label": "BG Color",
			  "default": "#fff"
			},
			{
			  "type": "color",
			  "id": "header_color",
			  "label": "Color",
			  "default": "#071c1f"
			},
			{
			  "type": "color",
			  "id": "support_icon_color",
			  "label": "Support Icon Color",
			  "default": "#071c1f"
			},
			{
			  "type": "color",
			  "id": "mini_cart_price_color",
			  "label": "Mini Cart Price Color",
			  "default": "#e53e29"
			},
			{
			  "type": "color",
			  "id": "header_sticky_bg_color",
			  "label": "Sticky BG Color",
			  "default": "#fff"
			},
			{
			  "type": "color",
			  "id": "header_sticky_color",
			  "label": "Sticky Color",
			  "default": "#071c1f"
			},
            {
              "type": "header",
              "content": "Menu Color"
            },
            {
              "type": "checkbox",
              "id": "menu_color_enable",
              "label": "Color Enable",
              "default": true,
          	  "info": "Enable the field for color customization"
            },
			{
			  "type": "color",
			  "id": "menu_bg_color",
			  "label": "Menu BG Color",
			  "default": "#f2f6f7"
			},
			{
			  "type": "color",
			  "id": "menu_color",
			  "label": "Menu Color",
			  "default": "#071c1f"
			}
          ]
       }
	]
  }
{% endschema %}