{%- if section.settings.section_color_enable -%}
<style>
  #section-{{ section.id }}.ltn__primary-bg {
    background: {{ section.settings.bg_color }};
  }
  #section-{{ section.id }}.text-color-white h1,
  #section-{{ section.id }}.text-color-white p,
  #section-{{ section.id }}.text-color-white h3{
    color: {{ section.settings.color }};
  }
  #section-{{ section.id }} .ltn__secondary-color{
    color: {{ section.settings.highlighgt_color }} !important;
  }
  #section-{{ section.id }} .coming-soon-inner .ltn__countdown .single, #section-{{ section.id }} .coming-soon-inner .ltn__form-box input {
      border: 1px solid {{ section.settings.border_color }};
  }

  #section-{{ section.id }} .theme-btn-1 {
    background-color: {{ section.settings.button_bg_color }};
    color: {{ section.settings.button_text_color }};
  }
  #section-{{ section.id }} .btn-effect-1:hover {
    color: {{ section.settings.button_text_hover_color }};
  }
  #section-{{ section.id }} .theme-btn-1:hover {
    background-color: {{ section.settings.button_bg_hover_color }};
  }
</style>
{%- endif -%}

<div class="ltn__coming-soon-area ltn__primary-bg text-color-white" data-section="passwordPage" id="section-{{ section.id }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="coming-soon-inner">
          <div class="section-title-area ltn__section-title-2">
            {%- if section.settings.comming_sub_soon_title != '' -%}
            <h6 class="section-subtitle ltn__secondary-color">{{ section.settings.comming_sub_soon_title }}</h6>
            {%- endif -%}
            {%- if section.settings.comming_soon_title != '' -%}
            <h1 class="section-title white-color">{{ section.settings.comming_soon_title }}</h1>
            {%- endif -%}
            {%- if section.settings.openig_date != '' -%}
            <h5 class="ltn__secondary-color">{{ section.settings.openig_date }}</h5>
            {%- endif -%}
          </div>
          {%- if section.settings.openig_date_countdown != '' -%}
          <div class="ltn__countdown mb-20" data-countdown="{{ section.settings.openig_date_countdown }}"></div>
          {%- endif -%}
          {%- if section.settings.subscribe_field_enable -%}
          <div class="ltn__newsletter-inner mt-50">
            {%- if section.settings.subscribe_title != '' -%}
            <h3>{{ section.settings.subscribe_title }}</h3>
            {%- endif -%}
            {%- assign formId = 'Contact_' | append: section.id -%}
            {%- form 'customer', id: formId, class: 'ltn__form-box' -%}
            {%- if form.posted_successfully? -%}
            <p class="form-message form-message--success form-success">{{ 'general.newsletter_form.confirmation'| t }}</p>
            <script>
              var SuccessFormToggle = $('.success-form-close-btn');
              SuccessFormToggle.on('click', function(){
                $('.form-message--success').slideToggle();
              })
            </script>
            {%- endif -%}
            {%- if form.errors -%}
            <div class="form-message form-message--error">
              {{ form.errors | default_errors }}
            </div>
            {%- endif -%}
            <input type="email" name="email" placeholder="{{ section.settings.email_placeholder_title }}">
            <button type="submit" class="btn theme-btn-1 btn-effect-1">{{ section.settings.subscribe_button_title }}</button>
            {%- endform -%}
          </div>
          {%- endif -%}
          {%- if section.settings.store_password_enable -%}
          <div class="ltn__newsletter-inner mt-50">
            {%- if shop.password_message and shop.password_message != '' -%}
            <h3>{{ shop.password_message }}</h3>
            {%- else -%}
            <h4>Visit your store</h4>
            {%- endif -%}
            {% form 'storefront_password', class: 'ltn__form-box' %}
            <input class="email" type='password' name='password' id='password' placeholder="{{ section.settings.password_placeholder_title }}">
            <button type="submit" class="btn theme-btn-1 btn-effect-1">{{ section.settings.password_button_title }}</button>
            {{ form.errors | default_errors }}
            {% endform %}
          </div>
          {%- endif -%}
          {%- if section.settings.contact_button_url != blank -%}
          <div class="btn-wrapper mt-50">
            <a href="{{ section.settings.contact_button_url }}" class="btn theme-btn-1 btn-effect-1 text-uppercase">{{ section.settings.contact_button_title }}</a>
          </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Password Page",
    "settings": [	
      {
        "type": "header",
        "content": "Heading"
      },
      {
        "type": "text",
        "id": "comming_sub_soon_title",
        "label": "Comming Soon Sub Title",
        "default": "\/\/  Welcome to you"
      },
      {
        "type": "text",
        "id": "comming_soon_title",
        "label": "Comming Soon Title",
        "default": "We are coming soon"
      },
      {
        "type": "text",
        "id": "openig_date",
        "label": "Opening Date",
        "default": "March 25, 2022"
      },
      {
        "type": "header",
        "content": "Countdown"
      },
      {
        "type": "checkbox",
        "id": "countdown_enable",
        "label": "Show Countdown",
        "default": true
      },
      {
        "type": "text",
        "id": "openig_date_countdown",
        "label": "Openign Date",
        "default": "2022\/03\/25",
        "placeholder": "2022\/03\/25",
        "info": "Example: YYYY-MM-DD"
      },
      {
        "type": "header",
        "content": "Subscribe"
      },
      {
        "type": "checkbox",
        "id": "subscribe_field_enable",
        "label": "Show Subscribe Field",
        "default": true
      },
      {
        "type": "text",
        "id": "subscribe_title",
        "label": "Subscribe Title",
        "default": "Subscribe for our next update"
      },
      {
        "type": "text",
        "id": "email_placeholder_title",
        "label": "Email Placeholder",
        "default": "Enter your e-mial"
      },
      {
        "type": "text",
        "id": "subscribe_button_title",
        "label": "Subscribe Button Title",
        "default": "Subscribe"
      },
      {
        "type": "header",
        "content": "Password"
      },
      {
        "type": "checkbox",
        "id": "store_password_enable",
        "label": "Show Password Field",
        "default": true
      },
      {
        "type": "text",
        "id": "password_placeholder_title",
        "label": "Password Placeholder Title",
        "default": "Enter store using password"
      },
      {
        "type": "text",
        "id": "password_button_title",
        "label": "Password Button Title",
        "default": "Enter"
      },
      {
        "type": "header",
        "content": "Contact Button"
      },
      {
        "type": "text",
        "id": "contact_button_title",
        "label": "Button Title",
        "default": "Contact Us"
      },
      {
        "type": "url",
        "id": "contact_button_url",
        "label": "Button URL"
      },
      {
        "type": "header",
        "content": "Color"
      },
              {
                "type": "checkbox",
                "id": "section_color_enable",
                "label": "Color Enable",
                "default": false,
          		"info": "Enable the field for color customization"
              },
      {
        "type": "color",
        "id": "bg_color",
        "label": "BG Color",
        "default": "#071c1f"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "highlighgt_color",
        "label": "Highlight Color",
        "default": "#e53e29"
      },
      {
        "type": "color",
        "id": "border_color",
        "label": "Border Color",
        "default": "#576466"
      },
              {
                "type": "color",
                "id": "button_text_color",
                "label": "Button text Color",
                "default": "#fff"
              },
              {
                "type": "color",
                "id": "button_bg_color",
                "label": "Button BG Color",
                "default": "#e53e29"
              },
              {
                "type": "color",
                "id": "button_text_hover_color",
                "label": "Button text Hover Color",
                "default": "#071c1f"
              },
              {
                "type": "color",
                "id": "button_bg_hover_color",
                "label": "Button BG Hover Color",
                "default": "#071c1f"
              }
	]
  }
{% endschema %}