{%- render 'section-style' -%}
<!-- BANNER AREA START -->
<div class="ltn__banner-area" data-section="multipleBanner2" id="section-{{ section.id }}">
  <div class="container">
    <div class="row justify-content-center">
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'banner' -%}
      <div class="col-sm-{{ block.settings.banner_column_sm }} col-md-{{ block.settings.banner_column_md }} col-lg-{{ block.settings.banner_column }}">
        <div class="banner-info-wrap beard-growing-kit {% if block.settings.text_right %}text-right{% else %}text-left{% endif %} bg-image" id="block-{{ block.id }}"  
             {% if block.settings.banner_image %}data-bg="{{ block.settings.banner_image | img_url: 'master' }}"{% endif %}>       
          {%- if block.settings.banner_sub_title != '' -%}
          <h5>{{ block.settings.banner_sub_title }}</h5>
          {%- endif -%}
          {%- if block.settings.banner_title != '' -%}
          <h1>{{ block.settings.banner_title }}</h1>
          {%- endif -%}
          
          {%- if block.settings.button_enable -%}
          <div class="btn-wrapper">
            <a href="{{ block.settings.banner_url }}" class="theme-btn-1 btn btn-effect-1">{{ block.settings.banner_button_title }}</a>
          </div>
          {%- endif -%}
        </div>
      </div>
      {%- if block.settings.block_color_enable -%}
      <style>
        #block-{{ block.id }}.beard-growing-kit h5 {
          color: {{ block.settings.sub_title_color }} !important;
        }
        #block-{{ block.id }}.beard-growing-kit h1{
          color: {{ block.settings.title_color }};
        }
        
        #block-{{ block.id }} .theme-btn-1 {
          background-color: {{ section.settings.button_bg_color }};
          color: {{ section.settings.button_text_color }};
        }
        #block-{{ block.id }} .btn-effect-1:hover {
          color: {{ section.settings.button_text_hover_color }};
        }
        #block-{{ block.id }} .theme-btn-1:hover {
          background-color: {{ section.settings.button_bg_hover_color }};
        }
      </style>
      {%- endif -%}

      {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>
<!-- BANNER AREA END -->

{% schema %}
  {
    "name": "Multiple Banner (2)",
    "settings": [
		
	],
	"blocks":[
          {
            "type": "banner",
            "name": "Banner",
            "settings": [
              {
                "type": "image_picker",
                "id": "banner_image",
                "label": "Image"
              },
              {
                "type": "text",
                "id": "banner_sub_title",
                "label": "Sub Title",
                "default": "Grow it"
              },
              {
                "type": "textarea",
                "id": "banner_title",
                "label": "Title",
                "default": "Just <br> Starting?",
                "info": "Use '<br>' tag for line break"
              },
              {
                "type": "checkbox",
                "id": "text_right",
                "label": "Text Right Enable",
                "default": false
              },
              {
                "type": "text",
                "id": "banner_button_title",
                "label": "Button Title",
                "default": "Shop Now"
              },
              {
                "type": "url",
                "id": "banner_url",
                "label": "URL"
              },
              {
                "type": "checkbox",
                "id": "button_enable",
                "label": "Button Enable",
                "default": true
              },
              {
                "type": "header",
                "content": "Banner Column"
              },
              {
                "type": "range",
                "id": "banner_column",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Desktop",
                "unit": "/12",
                "default": 6
              },
              {
                "type": "range",
                "id": "banner_column_md",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Tablet",
                "unit": "/12",
                "default": 6
              },
              {
                "type": "range",
                "id": "banner_column_sm",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Large Mobile",
                "unit": "/12",
                "default": 6
              },
              {
                "type": "header",
                "content": "Color"
              },
              {
                "type": "checkbox",
                "id": "block_color_enable",
                "label": "Color Enable",
                "default": false,
          		"info": "Enable the field for color customization"
              },
              {
                "type": "color",
                "id": "sub_title_color",
                "label": "Sub Title Color",
                "default": "#e53e29"
              },
              {
                "type": "color",
                "id": "title_color",
                "label": "Title Color",
                "default": "#fff"
              },
              {
                "type": "color",
                "id": "button_text_color",
                "label": "Button text Color",
                "default": "#fff"
              },
              {
                "type": "color",
                "id": "button_bg_color",
                "label": "Button BG Color",
                "default": "#e53e29"
              },
              {
                "type": "color",
                "id": "button_text_hover_color",
                "label": "Button text Hover Color",
                "default": "#071c1f"
              },
              {
                "type": "color",
                "id": "button_bg_hover_color",
                "label": "Button BG Hover Color",
                "default": "#071c1f"
              }
            ]
         },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 85
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 55
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 35
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Multiple Banner (2)",
		  "category": "2. banner",
		  "blocks":[
				{
					"type": "banner"
				},
				{
					"type": "banner"
				},
				{
					"type": "section_padding"
				}
			]
		}
	]
  }
{% endschema %}

