{%- if predictive_search.performed -%}
  <div id="predictive-search-results">
    {%- if predictive_search.resources.products.size > 0 -%}
      <h3 id="predictive-search-products" class="predictive-search__heading">
        Products
      </h3>
    {%- endif -%}
    <ul id="predictive-search-results-list" class="predictive-search__results-list" role="listbox" aria-labelledby="predictive-search-products">
      {%- for product in predictive_search.resources.products -%}
        <li class="predictive-search__list-item" role="option">
          <a href="{{ product.url }}" class="predictive-search__item" tabindex="-1">
            {%- if product.featured_media != blank -%}
              <img class="predictive-search__image"
                src="{{ product.featured_media | img_url: '150x' }}"
                alt="{{ product.featured_media.alt }}"
                width="50"
                height="{{ 50 | divided_by: product.featured_media.preview_image.aspect_ratio }}"
              >
            {%- endif -%}
            <div class="predictive-search__item-content">
              {%- if settings.predictive_search_show_vendor -%}
                <span class="visually-hidden">Vendor</span>
                <div class="predictive-search__item-vendor">{{ product.vendor }}</div>
              {%- endif -%}
              <span class="predictive-search__item-heading">{{ product.title }}</span>
              {%- if settings.predictive_search_show_price -%}
              <div class="predictive-search-price">
                {%- if product.variants.first.compare_at_price > product.variants.first.price -%}
                <span class="search-price-old"><del>{{ product.variants.first.compare_at_price | money }}</del></span>
                {%- endif -%}
                <span class="search-price-regular">{{ product.variants.first.price | money }}</span>
              </div>
              {%- endif -%}
            </div>
          </a>
        </li>
      {%- endfor -%}
      <li class="predictive-search__list-item" role="option">
        <button class="predictive-search__item" tabindex="-1">
          <span>Search for “{{ predictive_search.terms }}”</span> <i class="fas fa-arrow-right" alt="Arrow Icon"></i>
        </button>
      </li>
    </ul>
  </div>
{%- endif -%}