{%- if section.settings.section_color_enable -%}
<style>
  #section-{{ section.id }} .theme-btn-1 {
    background-color: {{ section.settings.button_bg_color }};
    color: {{ section.settings.button_text_color }};
  }
  #section-{{ section.id }} .btn-effect-1:hover {
    color: {{ section.settings.button_text_hover_color }};
  }
  #section-{{ section.id }} .theme-btn-1:hover {
    background-color: {{ section.settings.button_bg_hover_color }};
  }
  #section-{{ section.id }}.before-bg-bottom-2:before {
    background-color: {{ section.settings.half_bg_color }};
  }
</style>
{%- endif -%}
{%- render 'section-style' -%}
<!-- GET A FREE SERVICE AREA START -->
<div class="ltn__get-a-free-service-area before-bg-bottom-2" id="section-{{ section.id }}" data-section="serviceAppointment">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="get-a-free-service-inner bg-white text-center pt-115 pb-100">
          <div class="call-to-img">
            {%- if section.settings.image -%}
            {%- assign image = section.settings.image -%}
              <img 
                   loading="lazy"
                   src="{{ image | img_url: '600x' }}"
                   alt="{{ image.alt | escape }}"
                   class=""
                   >
            {%- else -%}
            <img src="https://via.placeholder.com/600x821" alt="Service Image">
            {%- endif -%}
          </div>
          <div class="call-to-action-inner-content">
            <div class="section-title-area ltn__section-title-2 text-center">
              {%- if section.settings.sub_title != '' -%}
              <h6 class="section-subtitle ltn__secondary-color">{{ section.settings.sub_title }}</h6>
              {%- endif -%}
              {%- if section.settings.title != '' -%}
              <h1 class="section-title">{{ section.settings.title }}</h1>
              {%- endif -%}
            </div>
            {%- if section.settings.button_title != '' -%}
            <div class="btn-wrapper">
              <a href="{{ section.settings.button_url }}" class="btn theme-btn-1 btn-effect-1">{{ section.settings.button_title }}</a>
            </div>
            {%- endif -%}
          </div>
          <span class="call-to-circle-1"></span>
          <span class="call-to-circle-2 fa-spin"></span>
          <span class="call-to-bg-icon"><i class="icon-automobile"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- GET A FREE SERVICE AREA END -->

{% schema %}
  {
    "name": "Service Appointment",
    "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Recommended Size: 600 x 821px"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title",
          "default": "Sub Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title <span>.</span>",
		  "info": "Use <span> Tag for Highlight text"
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "Button Title",
          "default": "get an appointment"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "URL"
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "checkbox",
          "id": "section_color_enable",
          "label": "Color Enable",
          "default": false,
          "info": "Enable the field for color customization"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button text Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "button_bg_color",
          "label": "Button BG Color",
          "default": "#e53e29"
        },
        {
          "type": "color",
          "id": "button_text_hover_color",
          "label": "Button text Hover Color",
          "default": "#071c1f"
        },
        {
          "type": "color",
          "id": "button_bg_hover_color",
          "label": "Button BG Hover Color",
          "default": "#071c1f"
        },
        {
          "type": "color",
          "id": "half_bg_color",
          "label": "Half BG Color",
          "default": "#F2F6F7"
        }
	],
	"blocks":[
          {
            "type": "service",
            "name": "Service",
			"limit": 4,
            "settings": [
              {
                "type": "image_picker",
                "id": "service_icon",
                "label": "Image"
              },
              {
                "type": "text",
                "id": "service_title",
                "label": "Title",
                "default": "Free Shipping"
              },
              {
                "type": "richtext",
                "id": "service_content",
                "label": "Content",
                "default": "<p>Provide free home delivery for all product over $100</p>"
              },
              {
                "type": "header",
                "content": "Column"
              },
              {
                "type": "range",
                "id": "service_column",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Desktop",
                "unit": "/12",
                "default": 3
              },
              {
                "type": "range",
                "id": "service_column_md",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Tablet",
                "unit": "/12",
                "default": 6
              },
              {
                "type": "range",
                "id": "service_column_sm",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Mobile",
                "unit": "/12",
                "default": 6
              }
            ]
         },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Service Appointment",
		  "category": "6. action"
		}
	]
  }
{% endschema %}