{%- if section.settings.section_category_color_enable -%}
<style>
  #section-{{ section.id }} .ltn__category-menu-title h2 {
    background: {{ section.settings.category_bg_color }};
    color: {{ section.settings.category_color }};
  }
</style>
{%- endif -%}

{%- if section.settings.section_color_enable -%}
<style>
  #section-{{ section.id }} .slick-dots li {
    background-color: {{ section.settings.dot_color }};
  }
  #section-{{ section.id }} .slick-dots li:hover, #section-{{ section.id }} .slick-dots li.slick-active {
    background-color: {{ section.settings.dot_active_color }};
  }
  #section-{{ section.id }} .slick-slide-arrow-1 .slick-arrow {
    border: 1px solid {{ section.settings.arrow_border_color }};
    color: {{ section.settings.arrow_color }} !important;
  }
  #section-{{ section.id }} .slick-slide-arrow-1 .slick-arrow:hover {
    background-color: {{ section.settings.arrow_hover_bg_color }};
    border-color: {{ section.settings.arrow_hover_bg_color }};
    color: {{ section.settings.arrow_hover_color }} !important;
  }
</style>
{%- endif -%}

{%- for block in section.blocks -%}
{%- case block.type -%}
{%- when 'slide' -%}
{%- if block.settings.block_color_enable -%}
<style>
  #block-{{ block.id }}.section-bg-1 {
    background-color: {{ block.settings.slide_bg_color }};
  }
  #block-{{ block.id }} .ltn__secondary-color {
    color: {{ block.settings.sub_title_color }} !important;
  }
  #block-{{ block.id }} .slide-title {
    color: {{ block.settings.title_color }};
  }
  #block-{{ block.id }} p{
    color: {{ block.settings.content_color }};
  }
  #block-{{ block.id }} .theme-btn-1 {
    background-color: {{ block.settings.button_bg_color }};
    color: {{ block.settings.button_text_color }};
  }
  #block-{{ block.id }} .btn-effect-1:hover {
    color: {{ block.settings.button_text_hover_color }};
  }
  #block-{{ block.id }} .theme-btn-1:hover {
    background-color: {{ block.settings.button_bg_hover_color }};
  }
</style>
{%- endif -%}
{%- endcase -%}
{%- endfor -%}

{%- render 'section-style' -%}

<div class="ltn__slider-area ltn__slider-3---  section-bg-1--- mt-30" id="section-{{ section.id }}" data-section="slideshowCategoryMenu">
  <div class="container">
    <div class="row">
      {%- if section.settings.category_menu_enable -%}
      <div class="col-lg-3">
        <!-- CATEGORY-MENU-LIST START -->
        <div class="ltn__category-menu-wrap">
          <div class="ltn__category-menu-title">
            <h2 class="section-bg-1 text-color-white---">{{ section.settings.category_title }}</h2>
          </div>
          <div class="ltn__category-menu-toggle ltn__one-line-active">
            <ul>
              {%- assign category_menu = section.settings.category_menu_handle -%}
              {%- assign category_menu_limit = section.settings.category_menu_limit_handle -%}
              {%- for link in linklists[category_menu].links limit: category_menu_limit -%}
              
              {%- assign childlink_handle = link.title | handle -%}
              {%- if linklists[childlink_handle] and linklists[childlink_handle].links.size > 0 -%}
              {%- if link.levels == 1 -%}
              <!-- Submenu -->
              <li class="ltn__category-menu-item ltn__category-menu-drop">
                <a href="{{ link.url }}">{{ link.title }}</a>
                <ul class="ltn__category-submenu for-single-menu">
                  {%- for childlink in linklists[childlink_handle].links -%}
                  <li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
                  {%- endfor -%}
                </ul>
              </li>
              {%- elsif link.levels == 2 -%}
              <!-- Submenu Column - unlimited -->
              <li class="ltn__category-menu-item ltn__category-menu-drop">
                <a href="{{ link.url }}">{{ link.title }}</a>
                <ul class="ltn__category-submenu ltn__category-column-{{ link.links.size }}">
                  {%- for childlink in linklists[childlink_handle].links -%}
                  {%- assign grand_childlink_handle = childlink.title | handle -%}
                  {%- if linklists[grand_childlink_handle] and linklists[grand_childlink_handle].links.size > 0 -%}
                  <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="{{ childlink.url }}">{{ childlink.title }}</a>
                    <ul class="ltn__category-submenu-children">
                      {%- for grand_childlink in linklists[grand_childlink_handle].links -%}
                      <li><a href="{{ grand_childlink.url }}">{{ grand_childlink.title }}</a></li>
                      {%- endfor -%}
                    </ul>
                  </li>
                  {%- else -%}
                  <li class="ltn__category-submenu-title"><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
                  {%- endif -%}  
                  {%- endfor -%}
                </ul>
              </li>
              {%- endif -%}
              {%- else -%}
              <li class="ltn__category-menu-item">
                  {% if link.title == "Barbie" %}
                      <a href="{{ link.url }}">{{ link.title }}<span class="blink-style">Sale</span></a>
                  {% else %}
                      <a href="{{ link.url }}">{{ link.title }}</a>
                  {% endif %}

              </li>
              {%- endif -%}
              {%- endfor -%}

              {%- if linklists[category_menu] and linklists[category_menu].links.size > category_menu_limit -%}
              {%- for link in linklists[category_menu].links offset: category_menu_limit -%}
              <!-- Show more menu -->
              {%- assign childlink_handle = link.title | handle -%}
              {%- if linklists[childlink_handle] and linklists[childlink_handle].links.size > 0 -%}
              {%- if link.levels == 1 -%}
              <!-- Submenu -->
              <li class="ltn__category-menu-more-item-child ltn__category-menu-drop">
                <a href="{{ link.url }}">{{ link.title }}</a>
                <ul class="ltn__category-submenu for-single-menu">
                  {%- for childlink in linklists[childlink_handle].links -%}
                  <li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
                  {%- endfor -%}
                </ul>
              </li>
              {%- elsif link.levels == 2 -%}
              <!-- Submenu Column - unlimited -->
              <li class="ltn__category-menu-more-item-child ltn__category-menu-drop">
                <a href="{{ link.url }}">{{ link.title }}</a>
                <ul class="ltn__category-submenu ltn__category-column-{{ link.links.size }}">
                  {%- for childlink in linklists[childlink_handle].links -%}
                  {%- assign grand_childlink_handle = childlink.title | handle -%}
                  {%- if linklists[grand_childlink_handle] and linklists[grand_childlink_handle].links.size > 0 -%}
                  <li class="ltn__category-submenu-title ltn__category-menu-drop"><a href="{{ childlink.url }}">{{ childlink.title }}</a>
                    <ul class="ltn__category-submenu-children">
                      {%- for grand_childlink in linklists[grand_childlink_handle].links -%}
                      <li><a href="{{ grand_childlink.url }}">{{ grand_childlink.title }}</a></li>
                      {%- endfor -%}
                    </ul>
                  </li>
                  {%- else -%}
                  <li class="ltn__category-submenu-title"><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
                  {%- endif -%}  
                  {%- endfor -%}
                </ul>
              </li>
              {%- endif -%}
              {%- else -%}
              <li class="ltn__category-menu-more-item-child">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
              {%- endif -%}
              {%- endfor -%}
              <li class="ltn__category-menu-more-item-parent">
                <a class="rx-default">
                  {{ section.settings.more_title }} <span class="cat-thumb  icon-plus"></span> 
                </a>
                <a class="rx-show">
                  {{ section.settings.close_title }} <span class="cat-thumb  icon-remove"></span>
                </a>
              </li>
              {%- endif -%}
              <!-- Single menu end -->
            </ul>
          </div>
        </div>
        <!-- END CATEGORY-MENU-LIST -->
      </div>
      {%- endif -%}
      
      <div class="{% if section.settings.category_menu_enable %}col-lg-9{% else %}col-12{% endif %}">
        {%- capture data_slick_activation -%}
        data-slick='{
          {%- if section.settings.autoplay_true -%}
          "autoplay": true,
          "autoplaySpeed": {{ section.settings.autoplay_speed }}
          {%- endif -%}
        }'
        {%- endcapture -%}
        <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1" {{ data_slick_activation }}>
          {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when 'slide' -%}
          <div class="ltn__slide-item ltn__slide-item-10 section-bg-1" id="block-{{ block.id }}">
            <div class="ltn__slide-item-inner">
              <div class="container-alternative">
                {%- assign scp = block.settings.slide_content_position -%}
                <div class="row{% if scp == 'content_left' %} flex-row-reverse{% endif %}">
                  <div class="col-lg-6 col-md-5 col-sm-5 align-self-center">
                    {%- if block.settings.slide_image_enable -%}
                    <div class="slide-item-img">
                      {%- if block.settings.slide_image -%}
                      {%- assign image = block.settings.slide_image -%}
                      <a href="{{ block.settings.slide_button_url }}" class="image-position-wrapper" style="padding-bottom: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;">
                        <img srcset="{% if image.width >= 270 %}{{ image | img_url: '270x' }} 270w,{% endif %}
                                     {% if image.width >= 320 %}{{ image | img_url: '320x' }} 320w,{% endif %}
                                     {% if image.width >= 450 %}{{ image | img_url: '450x' }} 450w,{% endif %}
                                     {% if image.width >= 480 %}{{ image | img_url: '575x' }} 575w,{% endif %}
                                     {% if image.width >= 570 %}{{ image | img_url: '600x' }} 600w,{% endif %}
                                     {% if image.width >= 600 %}{{ image | img_url: '600x' }} 600w,{% endif %}
                                     {% if image.width >= 1100 %}{{ image | img_url: '1100x' }} 1100w,{% endif %}
                                     {% if image.width >= 1920 %}{{ image | img_url: '1920x' }} 1920w{% endif %}"
                             loading="lazy"
                             src="{{ image | img_url: '600x' }}"
                             sizes="100vw"
                             width="{{ image.width }}"
                             height="{{ image.height }}"
                             alt="{{ image.alt | escape }}"
                             class="image-position-size"
                             >
                      </a>
                      {%- else -%}
                      <img src="https://via.placeholder.com/600x600" alt="Slide Image">
                      {%- endif -%}
                    </div>
                    {%- endif -%}
                  </div>
                  <div class="col-lg-6 col-md-7 col-sm-7 align-self-center">
                    <div class="slide-item-info">
                      <div class="slide-item-info-inner ltn__slide-animation">
                        {%- if block.settings.slide_sub_title != '' -%}
                        <h4 class="slide-sub-title ltn__secondary-color animated">{{ block.settings.slide_sub_title }}</h4>
                        {%- endif -%}
                        {%- if block.settings.slide_title != '' -%}
                        <h1 class="slide-title animated">{{ block.settings.slide_title }}</h1>
                        {%- endif -%}
                        {%- if block.settings.slide_content != '' -%}
                        <div class="slide-brief animated">
                          <p>{{ block.settings.slide_content }}</p>
                        </div>
                        {%- endif -%}
                        {%- if block.settings.slide_button_title != '' -%}
                        <div class="btn-wrapper  animated">
                          <a href="{{ block.settings.slide_button_url }}" class="theme-btn-1 btn btn-effect-1">{{ block.settings.slide_button_title }}</a>
                        </div>
                        {%- endif -%}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {%- endcase -%}
          {%- endfor -%}
        </div>
        
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Slideshow + Category Menu",
    "settings": [
    	{
          "type": "header",
          "content": "Category Menu"
        },
		{
          "type": "checkbox",
          "id": "category_menu_enable",
          "label": "Show Category Menu",
		  "default": true
        },
		{
          "type": "text",
          "id": "category_title",
          "label": "Category Title",
		  "default": "Categories"
        },
		{
          "type": "link_list",
          "id": "category_menu_handle",
          "label": "Category Menu"
        },
		{
          "type": "range",
          "id": "category_menu_limit_handle",
          "label": "Category Menu Limit",
          "min": 3,
          "max": 11,
          "step": 1,
          "default": 9,
		  "info": "When you cross the limit of your menu item, then it will be shown the 'More categories' button."
        },
		{
          "type": "text",
          "id": "more_title",
          "label": "More Title",
		  "default": "More categories"
        },
		{
          "type": "text",
          "id": "close_title",
          "label": "Close Title",
		  "default": "Close menu"
        },
		{
			"type": "paragraph",
            "content": "If you want to show icon in the Category menu then use icon from this link - [Click here](https://tunatheme.com/tf/html/autixir-preview/autixir/fonts/new-folder/custom-Fonts-For-Use/demo.html)"
        },
		{
          "type": "textarea",
          "id": "menu_name_with_icon",
          "label": "Icon with menu name example",
		  "default": "<i class='icon-car-parts-3'></i>Brake Parts"
        },
		{
			"type": "header",
            "content": "Slideshow Options"
        },
		{
          "type": "checkbox",
          "id": "autoplay_true",
          "label": "Autoplay Enable",
          "default": false
      	},
		{
            "type": "range",
            "id": "autoplay_speed",
            "min": 1000,
            "max": 9000,
            "step": 1000,
            "label": "Autoplay Speed",
            "unit": "ms",
            "default": 7000
        },
		{
          "type": "header",
          "content": "Color"
        },
        {
          "type": "checkbox",
          "id": "section_category_color_enable",
          "label": "Color Enable",
          "default": false,
          "info": "Enable the field for Category color customization"
        },
        {
          "type": "color",
          "id": "category_bg_color",
          "label": "Category BG Color",
          "default": "#f2f6f7"
        },
        {
          "type": "color",
          "id": "category_color",
          "label": "Category Color",
          "default": "#071c1f"
        },
        {
          "type": "checkbox",
          "id": "section_color_enable",
          "label": "Color Enable",
          "default": false,
          "info": "Enable the field for Slideshow color customization"
        },
        {
          "type": "color",
          "id": "arrow_color",
          "label": "Arrow Color",
          "default": "#071c1f"
        },
        {
          "type": "color",
          "id": "arrow_border_color",
          "label": "Arrow Border Color",
          "default": "#e5eaee"
        },
        {
          "type": "color",
          "id": "arrow_hover_bg_color",
          "label": "Arrow Hover/Active BG Color",
          "default": "#e53e29"
        },
        {
          "type": "color",
          "id": "arrow_hover_color",
          "label": "Arrow Hover/Active Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "dot_color",
          "label": "Dot Color",
          "default": "#c0c0c0"
        },
        {
          "type": "color",
          "id": "dot_active_color",
          "label": "Active Dot Color",
          "default": "#e53e29"
        }
	],
	"blocks":[
	   {
          "type": "slide",
          "name": "Slide",
		  "limit": 5,
          "settings": [
            {
              "type": "header",
              "content": "Image"
            },
            {
              "type": "checkbox",
              "id": "slide_image_enable",
              "label": "Show Image",
              "default": true
            },
            {
              "type": "image_picker",
              "id": "slide_image",
              "label": "Image",
              "info": "Recommended Size: 600 x 600px"
            },
            {
              "type": "header",
              "content": "Content"
            },
            {
              "type": "text",
              "id": "slide_sub_title",
              "label": "Sub Title",
              "default": "Slide Sub Title"
            },
            {
              "type": "textarea",
              "id": "slide_title",
              "label": "Title",
              "default": "Slide Title"
            },
            {
              "type": "textarea",
              "id": "slide_content",
              "label": "Content",
              "default": "Slide content here"
            },
            {
              "type": "text",
              "id": "slide_button_title",
              "label": "Button Title",
              "default": "Shop Now"
            },
            {
              "type": "url",
              "id": "slide_button_url",
              "label": "URL"
            },
            {
              "type": "radio",
              "id": "slide_content_position",
              "label": "Content Position",
              "options":[
                    {
                        "label": "Left",
                        "value": "content_left"
                    },
                    {
                        "label": "Right",
                        "value": "content_right"
                    }
                ],
                "default": "content_left"
            },
              {
                "type": "header",
                "content": "Color"
              },
              {
                "type": "checkbox",
                "id": "block_color_enable",
                "label": "Color Enable",
                "default": false,
          		"info": "Enable the field for color customization"
              },
              {
                "type": "color",
                "id": "slide_bg_color",
                "label": "BG Color",
                "default": "#f2f6f7"
              },
              {
                "type": "color",
                "id": "sub_title_color",
                "label": "Sub Title Color",
                "default": "#e53e29"
              },
              {
                "type": "color",
                "id": "title_color",
                "label": "Title Color",
                "default": "#071c1f"
              },
              {
                "type": "color",
                "id": "content_color",
                "label": "Content Color",
                "default": "#071c1f"
              },
              {
                "type": "color",
                "id": "button_text_color",
                "label": "Button text Color",
                "default": "#fff"
              },
              {
                "type": "color",
                "id": "button_bg_color",
                "label": "Button BG Color",
                "default": "#e53e29"
              },
              {
                "type": "color",
                "id": "button_text_hover_color",
                "label": "Button text Hover Color",
                "default": "#071c1f"
              },
              {
                "type": "color",
                "id": "button_bg_hover_color",
                "label": "Button BG Hover Color",
                "default": "#071c1f"
              }
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 120
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Slideshow + Category Menu",
		  "category": "1. hero/slideshow",
		  "blocks":[
				{
					"type": "slide"
				},
				{
					"type": "slide"
				},
				{
					"type": "section_padding"
				}
			]
		}
	]
  }
{% endschema %}
