$(function() {
               
            var LocsA = [
              {% for block in section.blocks %}
              {%- case block.type -%}
      		  {%- when 'location' -%}
                {
                  	lat: {{ block.settings.lat }},
                  	lon: {{ block.settings.lon }},
                  	title: 'Location {{ forloop.index }}',
                    html: [ '<div class="ltn__map-item">',
                                {% if block.settings.location_title %}
                                '<h3 class="ltn__location-name">{{ block.settings.location_title }}</h3>',
                                {% endif %}
                                {% if block.settings.location_details %}
                                '<h5 class="ltn__location-single-info"><i class="fas fa-map-marked-alt"></i>{{ block.settings.location_details }}</h5>',
                                {% endif %}
                                {% if block.settings.location_phone_number %}
                                '<h4 class="ltn__location-single-info"><i class="fas fa-phone-volume"></i>{{ block.settings.location_phone_number }}</h4>',
                                {% endif %}
                                {% if block.settings.appointment_title or block.settings.website_title %}
                                '<div class="btn-wrapper">',
                                  {% if block.settings.appointment_title or block.settings.website_title %}
                                  '<a href="{{ block.settings.appointment_url }}" class="btn btn-transparent btn-border btn-effect-4"><i class="fas fa-location-arrow"></i> {{ block.settings.appointment_title }}</a>',
                                  {% endif %}
                                  {% if block.settings.appointment_title or block.settings.website_title %}                  
                                  '<a href="{{ block.settings.website_url }}" class="btn btn-transparent btn-border btn-effect-3"><i class="fas fa-globe"></i> {{ block.settings.website_title }}</a>',
                                  {% endif %}
                              	'</div>',
                  				{% endif %}
                            '</div>'
                        ].join(''),
                  	icon: '{{ "map-marker-2.png" | asset_url }}',
                    animation: google.maps.Animation.BOUNCE
                }{% unless forloop.last %},{% endunless %}
              {%- endcase -%}
              {%- endfor -%}
            ];
            new Maplace({
                locations: LocsA,
                controls_on_map: true,
                map_options: {
                    zoom: 13,
                    scrollwheel: false,
                    stopover: true
                },
                stroke_options: {
                    strokeColor: '#f10', 
                    strokeOpacity: 0.8, 
                    strokeWeight: 2, 
                    fillColor: '#f10', 
                    fillOpacity: 0.4
                }
            }).Load();

        });